
.audio {
  margin: 5px 0px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  img {
    padding-right: 5px;
    width: 30px;
  }
}


.audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

// Цвет всех кнопок  плей / перемотки
.rhap_main-controls-button {
  svg {
    path {
      fill: #1890ff;
      transition: all 0.2s ease-out;
      &:hover {
        fill: #40a9ff;
      }
    }
  }
}
// Цвет ползунка
.rhap_progress-indicator {
  background-color: #1890ff;
  transition: background-color 0.2s ease-out;
  &:hover {
    background-color: #40a9ff;
  }
}
//  индикатора выполнения
.rhap_progress-bar {
  background-color: rgba(#40a9ff, 0.2);
}
.rhap_volume-button {
  svg {
    path {
      fill: #1890ff;
      transition: all 0.2s ease-out;
      &:hover {
        fill: #40a9ff;
      }
    }
  }
}
.rhap_volume-bar {
  background-color: rgba(#40a9ff, 0.2);
}
.rhap_volume-indicator {
  background-color: #1890ff;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: #40a9ff;
  }
}
.rhap_progress-filled {
  background-color: #40a9ff;
}
.rhap_repeat-button {
  svg {
    path {
      fill: #1890ff;
      transition: all 0.2s ease-out;
      &:hover {
        fill: #40a9ff;
      }
    }
  }
}
.rhap_time {
  color: #1890ff;
}
