@import '~normalize.css';
@import './variables.scss';
@import './fonts.scss';
@import 'antd/dist/antd.css';

* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
  font-family: 'Nunito-Light' !important;
}

body {
  margin: 0;
  background-color: #eef0f1;
}

ul,

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: inherit;
}

.wrapper {
  background-color: #eef0f1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.articles {
  padding-bottom: 50px;
}

.ant-back-top-icon {
  background-color: $color-primary;
  transition: all 0.2s;
  &:hover {
    background-color: $color-secondary;
  }
}
