@font-face {
  font-family: 'Nunito-Light';
  src: url('../assets/fonts/Nunito-Light.ttf');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Nunito-Light';
  src: url('../assets/fonts/Nunito-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Nunito-Light';
  src: url('../assets/fonts/Nunito-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Nunito-Light';
  src: url('../assets/fonts/Nunito-Black.ttf');
  font-style: normal;
  font-weight: 900;
}
