.header {
  &-content {
    padding: 5px 0;
    display: flex;
    align-items: center;
    &__logo {
      width: 50px;
    }
  }
}

.nav {
  a {
    margin-left: 15px;
  }
}

.search {
  margin-left: auto;
  width: 300px;
}
@media (max-width: 800px) {
  .nav-links-none {
    display: none;
  }
}
